#StartScreen{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}
nav {
    background-color: rgba(180, 190, 195, 0.8);
    color: rgba(255, 255, 255);
    font-family: fantasy;
    font-size: 20px;
}
#logo{
    padding: 5px;
    font-size: 20px;
    font-family: monospace;
    width: 75%;
    height: 25%;
    position: relative;
    overflow: hidden;
}
.row{
    margin: 0 20px 0 5px;
}

body {
    overflow-x: hidden;
}

/* roba vecchia
#FirstStory{
    background-image: url(images/museo_egizio.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    border-radius: 20px;
    border: slategray;
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
}
#FirstStory::after{
    content: ' ';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    position: absolute;
    display: block;
    opacity: 0.5;
    z-index: 0;
}
#FirstStory .card-title{
    font-size: 30px;
    text-shadow: 2px 0 #ffae00, -2px 0 #ffae00;            
    color: whitesmoke;   
    z-index: 1;
    position: relative;
}
#FirstStory .card-text{
    font-size: 20px;
    width: 100%;
    margin: 10 auto;
    color: rgb(245, 245, 245);
    z-index: 1;
    position: relative;
}
#barcode{
    margin: 10 auto;
    z-index: 1;
    position: relative;
}
#FirstStory #StartButton{
    width: 200px;
    align-content: center;
    background-color: white; 
    border: 2px solid #ffae00;
    border-radius: 10px;
    color: black;
    text-align: center;
    font-size: 12px;
    margin: 10 auto;
    z-index: 1;
    position: relative;
}
#FirstStory #StartButton:hover {
    background-color: #ffae00;
    color: white;
    margin: 10 auto;
    z-index: 1;
    position: relative;
}

#SecondStory{
    background-image: url(images/galleria_uffizi.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    border-radius: 20px;
    border: slategray;
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
}
#SecondStory::after{
    content: ' ';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    position: absolute;
    display: block;
    opacity: 0.5;
    z-index: 0;
}
#SecondStory .card-title{
    font-size: 30px;
    text-shadow: 2px 0 #3778da, -2px 0 #3778da;            
    color: white;   
    z-index: 1;
    position: relative;
}
#SecondStory .card-text{
    font-size: 20px;
    width: 100%;
    margin: 10 auto;
    color: rgb(108, 202, 240);
    z-index: 1;
    position: relative;
}
#SecondStory #StartButton{
    width: auto;
    background-color: white; 
    border: 2px solid #3778da;
    border-radius: 10px;
    color: black;
    text-align: center;
    font-size: 12px;
    margin: 10 auto;
    z-index: 1;
    position: relative;
}
#SecondStory #StartButton:hover {
    background-color: #3778da;
    color: white;
    margin: 10 auto;
    z-index: 1;
    position: relative;
}

#ThirdStory{
    background-image: url(images/museo_scienza.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    border-radius: 20px;
    border: slategray;
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
}
#ThirdStory::after{
    content: ' ';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    position: absolute;
    display: block;
    opacity: 0.5;
    z-index: 0;
}
#ThirdStory .card-title{
    font-size: 30px;
    text-shadow: 2px 0 #6bda37, -2px 0 #6bda37;            
    color: white;   
    z-index: 1;
    position: relative;
}
#ThirdStory .card-text{
    font-size: 20px;
    width: 100%;
    margin: 10 auto;
    color: rgb(231, 233, 199);
    z-index: 1;
    position: relative;
}
#ThirdStory #StartButton{
    width: 200px;
    background-color: white; 
    border: 2px solid #6bda37;
    border-radius: 10px;
    color: black;
    text-align: center;
    font-size: 12px;
    margin: 10 auto;
    z-index: 1;
    position: relative;
}
#ThirdStory #StartButton:hover {
    background-color:#6bda37;
    color: white;
    margin: 10 auto;
    z-index: 1;
    position: relative;
}
*/

#Main{
    color: aliceblue;
    background-image: url(../images/sfondo_player.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-right: 10px;
    border: slategray;
    padding: 10px;
    width: 100%;
    height: 100%;
    position: relative;
}
#Main::after{
    content: ' ';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    position: absolute;
    display: block;
    opacity: 0.5;
    z-index: 0;
}

#Logo-Info {
    background-image: url(../images/info.png);
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-color: black;
    border-radius: 15px;
    border-style: solid;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 5px;
    right: 5px;
}
.modal-title{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: bolder;
    color: cornflowerblue;
}
.modal-body{
    margin-right: 10px;
    margin-left: 10px;
}

.StoryTitle{
    text-shadow: 2px -1px #000000, -2px 1px #000000;            
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    z-index: 10;
    position: relative;
}
.Quest {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    z-index: 1;
    position: relative;
}
.QuestTitle{
    color: rgb(180, 200, 230);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    z-index: 1;
    position: relative;
}
.ActivityText{
    background-color: rgba(255, 255, 255, 0.7);
    text-align: left justify;
    padding: 5px;
    color: rgb(0, 10, 20);
    border-style: groove;
    border-color: rgba(30, 143, 255, 0.5);
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 20px;
    z-index: 1;
    position: relative;
}
.AnswerField{
    background-color: rgba(0, 5, 5, 0.7);
    padding: 10px;
    border-radius: 20px;
    border-color: rgba(30, 143, 255, 0.9);
    border-style: dotted;    
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center, justify;
    font-style: italic;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: 1;
    position: relative;
}
.NextActivity{
    align-content: center;
    text-align: center;
    width: 200px;
    background-color: rgba(25, 1, 130, 0.8);
    color: white;
    border: 2px solid rgb(255, 255, 255, 0.5);
    border-radius: 5px;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
}
.NextActivity:hover{
    background-color: rgba(0, 0, 0, 0.8);
    color: whitesmoke;
    border-color: rgba(0, 0, 0, 0.8);
}
.CloseGameBtn{
    align-content: center;
    text-align: center;
    width: 200px;
    background-color: rgba(25, 1, 130, 0.8);
    color: white;
    border: 2px solid rgb(255, 255, 255, 0.5);
    border-radius: 5px;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
}
.CloseGameBtn:hover{
    background-color: rgba(0, 0, 0, 0.8);
    color: whitesmoke;
    border-color: rgba(0, 0, 0, 0.8);
}
#AccessibilityMsg{
    padding: 5px;
    position: relative;
}
.page-footer{
    padding: 10px;
    background-color: rgba(180, 190, 195, 0.8);
}
#chat-room{
    text-align: center;
    font-size: medium;
    padding: 10px;
    border: medium double blue;
    border-radius: 10px;
    background-color: rgba(0, 0, 255, 0.2);
}
#message{
    font-size: 20px;
    border: 2px solid blue;
    border-radius: 10px;
    width: fit-content;
    height: 50px;
}
#Send{
    margin: 10px;
    font-size: 16px;
    color: rgb(7, 3, 230);
    background-color: rgba(0, 0, 255, 0.2); 
    border: 2px solid rgb(7, 3, 230);
    border-radius: 10px;
}
#Send:hover{
    background-color:rgb(7, 3, 230);
    border: 2px solid rgba(0, 0, 255, 0.2);
    color: white;
}
