@media (min-width: 700px) {
    .accessibility-alert ul, #list {
        width: 50%;
    }
}

html, body {
    overflow-x: hidden;
}

body {
    background-image: url(./media/sfondo_player.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    align-items: center;
}

.page-container {
    margin: auto;
    max-width: 50em;
}

#appbanner, footer {
    background-color: rgba(119, 136, 153, 0.9);
}

#appbanner {
    text-align: center;
    color: rgba(255, 255, 255);
    font-family: fantasy;
    font-size: 20px;
}

#logo {
    font-family: monospace;
    width: 200px;
    height: auto;
    position: relative;
    overflow: hidden;
    animation: move_logo 0.8s;
    animation-iteration-count: 1;
}

@keyframes
move_logo{
    from {top: 0px;}
    to {top: 20px;}
}

.alert {
    text-align: center;
}

.alert ul, #info-body ul {
    padding-left: 0;
    margin: auto;
    text-align: left;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#info-body ul {
    list-style-type: none;
}

#info-title{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: bolder;
    color: cornflowerblue;
    background-color: rgba(169, 169, 169, 0.3);
}

#info-body{
    background: rgba(100, 148, 237, 0.8);
    font-size: 20px;
    font-weight: lighter;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
}

#info-body img {
    max-width: 100%;
    height: auto;
}

#info-footer{
    font-size: large;
    letter-spacing: 2px;
}

.btn {
    text-transform: uppercase;
}

#StartBtn, .NextActivity, .CloseGameBtn{
    align-content: center;
    text-align: center;
    width: 200px;
    background-color: rgba(25, 1, 130, 0.8);
    color: white;
    border: 2px solid rgb(255, 255, 255, 0.5);
    border-radius: 5px;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
}

#StartBtn:hover, .NextActivity:hover, .CloseGameBtn:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: whitesmoke;
    border-color: rgba(0, 0, 0, 0.8);
}

.StoryTitle{
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
    margin: 0;
    text-shadow: 2px -1px #000000, -2px 1px #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    z-index: 10;
    position: relative;
    animation: move_title 5s;
    animation-iteration-count: 1;
}

@keyframes
move_title{
    25% {
        transform: skewX(20deg);
    }
}

#Main{
    color: aliceblue;
    padding: 10px;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
}

.Quest {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    z-index: 1;
    position: relative;
}

.QuestTitle{
    color: rgb(180, 200, 230);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    z-index: 1;
    position: relative;
    animation: move_quest 2s ;
    animation-iteration-count: 1;
}

@keyframes
move_quest{
    50% {
        transform: scaleY(1.5);
    }
}

.Activity, #Error, #Finish {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    color: rgb(0, 10, 20);
    border-style: groove;
    border-color: rgba(30, 143, 255, 0.5);
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 18px;
    z-index: 1;
    position: relative;
    text-align: center;
}

.Activity p {
    text-align: justify;
}

.AnswerField{
    color: aliceblue;
    background-image: url(./media/domanda.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    padding: 10px;
    border-radius: 20px;
    border-color: rgba(30, 143, 255, 0.9);
    border-style: dotted;    
    margin-bottom: 20px;
    text-align: center, justify;
    font-style: italic;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: 1;
    position: relative;
}

.AnswerField .form-check {
    display: flex;
    text-align: center;
}

.AnswerField .form-check-input, .AnswerField .form-check-label {
    height: 100%;
    margin-top: 0;
    vertical-align: middle;
    text-align: left;
    word-wrap: break-word;
}



.carousel-caption {
    position: static;
    color: black;
    font-style: italic;
}

#ButtonToTop{
    position: fixed;
    right: 10px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-image: url(./media/scroll.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    box-shadow: 0 0 10px rgb(0, 10, 20);
    z-index: 100;
    border: none;
    outline: none;
    cursor: pointer;
}

#ButtonToTop:active{
    background-color: rgba(255, 255, 240, 0.8);
}

footer {
    display: none;
    padding: 10px;
    position: relative;
}

#OpenChat{
    font-size: 50px;
    color: white;
    outline: none !important;
    box-shadow: none;
}

#OpenChat:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#chat-room input{
    width: 100%;
    padding: 15px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 100px;
}

#Send{
    margin: 10px;
    font-size: 16px;
    font-weight: bolder;
    color: rgb(50, 50, 50);
    background-color: rgba(255, 255, 255, 0.8); 
    border: 2px solid rgb(22, 22, 22);
    border-radius: 10px;
    z-index: 100;
}

#Send:hover{
    background-color:rgb(100, 100, 100);
    border: 2px solid whitesmoke;
    color: rgb(255, 255, 255);
}

#history{
    text-decoration: none;
    outline: none;
    display: inline-block;
    color: white;
    padding-top: 10px;
    border-radius: 10px;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #00bfff 0%, #2200ff 50%, #00bfff 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    border-radius: 20px;
    transition: .5s;
  }

#history:hover {
    background-position: right center;
}

#list{
    list-style-type: none;
    margin: auto;
}

.player-msg, .valuator-msg {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    background-size: contain;
    font-weight: lighter;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.player-msg{
    color: whitesmoke;
    background-color: cornflowerblue;
    text-align: right;  
}

.valuator-msg{
    color: black;
    background-color: cornsilk;
    text-align: left;
}