html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: black;
}

.topnav {
    overflow: hidden;
    background-color: black;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #D3D3D3;
    color: black;
}

.dropdown-menu {
    background-color: #545c64;
}

.dropdown-menu a {
    color: white;
    background-color: #545c64;
}

.dropdown-menu a:hover {
    background-color: #696969;
}

.dropdown-menu a:active {
    background-color: black;
    color: #C0C0C0;
}

.chatroom {
    border-style: solid;
    color: white;
}

.container-chat {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  
  .darker-chat {
    border-color: rgb(65, 71, 74);
    background-color: rgb(45, 49, 51);
  }
  
  .container-chat::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .time-right-chat {
    float: right;
    color: #aaa;
  }
  
  .time-left-chat {
    float: left;
    color: #999;
  }