body {
    background-color: snow;
    /*margin: auto;*/
}

.EditorSection {
    border-color: black; /* debugging */
    border-style: solid; /* debugging */
    display: none; /* con la proprietà di visibility le animazioni fade di jQuery non funzionano */
    margin: auto;
    text-align: center;
}

#MainMenu {
    display: block;
}


.row{
    margin-left: auto;
    margin-right: auto;
  }

.card {
    display: inline-flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

#ChooseGameMode .card:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#ChooseGameMode .card-image-top {
    width: auto;
}

.MainButtonGroup {
    width: auto;
}

.StageList {
    border-color: gray;
    border-width: 1pt;
    border-style: solid;
    margin: 25pt 25pt 25pt 25pt;
}

.StageList ul {
    border-color: black; /* debugging */
    border-style: solid; /* debugging */
    list-style-type: none;
    margin: none;
    overflow: scroll; /* sistemare - non funziona per bene */
    padding: 50pt 25pt 50pt 25pt;
}

.StageList ul li {
    display: inline-block;
}

.StageButton {
    height: 100pt;
    margin: 10pt;
    width: 100pt;
    overflow: hidden;
}

#AnswerField {
    visibility: hidden;
}

/*

APPUNTI IMPORTANTI
* margin per elementi div: https://stackoverflow.com/questions/35817096/css-margin-0-auto-not-centering


*/