body {
    background-color: snow;
    /*margin: auto;*/
}

.EditorSection {
    border-color: black; /* debugging */
    border-style: solid; /* debugging */
    display: none; /* con la proprietà di visibility le animazioni fade di jQuery non funzionano */
    margin: auto;
    text-align: center;
}

#MainMenu {
    display: block;
}

.MainButtonGroup {
    width: auto;
}

.StageList {
    border-color: gray;
    border-width: 1pt;
    border-style: solid;
    margin: 25pt 25pt 25pt 25pt;
    overflow-x: scroll;
}

.StageList ul {
    border-color: black; /* debugging */
    border-style: solid; /* debugging */
    list-style-type: none;
    margin: none;
    padding: 50pt 25pt 50pt 25pt;
}

.StageList ul li {
    display: inline;
}

.StageList button {
    height: 100pt;
    width: 100pt;
}

/*

APPUNTI IMPORTANTI
* margin per elementi div: https://stackoverflow.com/questions/35817096/css-margin-0-auto-not-centering


*/