body {
    background-color: #333;
    color: #fff;
    height: 100vh;
    margin: 0;
    padding: 0;
}

nav {
    top: 0;
}

.css-validation {
    font-family: Arial;
}

#saveicon {
    display: none;
}

#editorUI {
    display: grid;
    grid-template-columns: 65vw 1fr;
}

#css-editor, #csserror {
    font-size: medium;
}

#console {
    padding: 15px;
}

#loading {
    display: none;
}

#csserror {
    margin-top: 15px;
}

#guide {
    display: none;
    padding: 15px;
}

#guide ul {
    list-style-type: none;
    list-style: none;
    margin-top: 30px;
    padding-left: 0;
}

#guide li {
    margin-top: 15px;
}

code pre {
    background-color: lightgrey;
    margin: 50px;
}

code pre cite {
    color: indigo;
}